*{
    padding: 0;
    margin: 0;
    color: rgb(148 11 11);
}

a{
    text-decoration: none;
}

:root{
    --base:rgba(0, 0, 0, 0.07);
    --font-custom:rgba(0, 0, 0, 0.07);
}

#content-nav{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    ;
}

#navbar{    
    background-color: rgb(148 11 11);
    color: white;
    padding: 15px 0;
}

#navbar a{
    color: white;
}

#navbar{
    margin-bottom: 30px;
}
#content-user{
    cursor: pointer;
    position: relative;
}

#drop-user{
    background-color: #fff2f2;
    padding: 5px;
    border-radius: 0px 5px 5px 0;
    position: absolute;
    width: 104px;
    border: 1px solid #00000012;
    color: black;
    list-style-type: none;
    display: none;
}

#drop-user > li > a{
    color: black;
}

#content-user:hover > #drop-user{
    display: block;
}
#drop-user:hover{
    display: block;
}

.content-store{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.product-item{
    padding: 15px;
}

.btn-buy{
    padding: 5px 10px;
    background-color: #eaea34;
    color: black;
    border-radius: 5px;
    margin: 10px 5px 0 0;
}

.cart{
    background-color: transparent;
}