*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

#content-nav{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#navbar{    
    background-color: rgb(148 11 11);
    color: white;
    padding: 15px 0;
}

#navbar a{
    color: white;
}

#navbar{
    margin-bottom: 30px;
}