*{
    padding: 0;
    margin: 0;
    color: rgb(148 11 11);
}

a{
    text-decoration: none;
}

:root{
    --base:rgba(0, 0, 0, 0.07);
    --font-custom:rgba(0, 0, 0, 0.07);
}

#content-nav{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    ;
}

#navbar{    
    background-color: rgb(148 11 11);
    color: white;
    padding: 15px 0;
}

#navbar a{
    color: white;
}

#navbar{
    margin-bottom: 30px;
}